.gallery {
  column-count: 3;
  column-gap: 10px;

  .grid-item {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;

    &:hover .overlay {
      opacity: 0.9;
    }
  }

  img {
    width: 100%;
    display: block;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: opacity 500ms cubic-bezier(0.25, 0.44, 0.25, 0.31);
    background: $primary-color;
    opacity: 0;
    z-index: 1;

    .text {
      font-size: 4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 1;

      a {
        color: $light-color;
        padding: 2rem;
        border-radius: 10px;
      }
    }
  }
}
