.navcontainer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  color: var(--white-color);
  padding: 1rem 2rem ;
}

.logo {
  width: 100%;
  height: 100%;
}

.navlinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

.link {
  padding: 0 1rem;
}

.icon, .close {
  display: none;
}


@media only screen and (max-width:576px) and (orientation:portrait) {
  .navlinks {
    transition: height 600ms cubic-bezier(.17,.67,1,.28);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 0;
    overflow: hidden;
    z-index: 1;  
    background-color: var(--secondary-color);
    color: #f4f4f4;
  }


  .link {
    font-size: 1.2rem;
  }

  .icon {
    display: inline-block;
    position: relative;
  }

  .close {
    display: inline-block;
    margin-top: 5rem;
  }
}